@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--bg-primary: #151515;
	--bg-secondary: #202020;

	--text-primary: #ffffff;
	--text-secondary: #737373;
	--text-accent: #000000;

	--color-themed: #ff7a00;
	--color-green: #66cc33;

	--hover-primary: #ffffff;

	--header-height: 50px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--text-primary);
	background: var(--bg-primary);
}

h2 {
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	color: var(--text-primary);
}

// text
.text_themed {
	background: -webkit-linear-gradient(#ffdc99, #ff7a00);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text--read-more {
	font-weight: bold;
	cursor: pointer;
}
