/* Scrollbar */
html {
	&::-webkit-scrollbar {
		width: 0.2rem;
		background-color: var(--bg-secondary);
	}
	&::-webkit-scrollbar-thumb {
		background-color: #a9a9a9;
	}
}

/* Splide slider styles */
.splide__arrow--prev {
	left: -8px;
}
.splide__arrow--next {
	right: -8px;
}
.splide__arrow {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s ease;
	&:hover {
		background-color: rgba(0, 0, 0, 0.6);
	}
}
.splide__arrow svg {
	fill: var(--color-themed);
}
.splide__arrow:hover {
	& svg {
		fill: #ffdc99;
	}
}
.splide__pagination {
	bottom: -2em;
}
.splide__pagination__page.is-active {
	background-color: #ff7a00;
}
